#spitio_box {
	position: fixed;
	top: 60px;
	left: -1px;
	right: 10px;
	bottom: 60px;
	background-color: rgba(255,255,255,0.90);
	padding: 20px;
	color: black;
	z-index: 900001;
	box-shadow: 2px 2px 8px 0 rgba(0,0,0,.75);
	width: 500px;
	}

#spitio_box.closed {
	left: -519px;
	}

#spitio_content {
	position: absolute;
	top: 15px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	overflow: auto;
	}

#spitio_badge {
	position: absolute;
	top: 0px;
	left: 500px;
	padding: 6px;
	background-color: white;
	box-shadow: 2px 2px 8px 0 rgba(0,0,0,.75);
	-webkit-border-radius: 0 11px 11px 0;
	border-radius: 0 11px 11px 0;
	cursor: pointer;
	}



#spitio_box, #spitio_badge {
	transition-property: left;
	-webkit-transition-duration: 0.75s;
	transition-duration: 1s;
	}

.closespitio {
	position: fixed;
	top: 56px;
	left: 467px;
	color: red;
	cursor: pointer;
	}